<div class="container">
    <h1 align="center" onmouseover="gainFocus()"><u>Update Employee </u></h1>
    <form id="employeeForm" name="addemployee">
        <div class="employee">
            Employee Id : <input type="text" id="empid" name="employeeId" [(ngModel)]="employee.employeeId"> <br> <br> Employee Name :<input type="text" name="employeeName" id="empname" [(ngModel)]="employee.employeeName"> <br> <br> Email : <input type="email"
                id="email" name="email" [(ngModel)]="employee.email"><br><br> Age : <input type="text" id="age" name="age" [(ngModel)]="employee.age"><br> <br> Phone Number : <input type="text" id="number" name="phoneNumber" [(ngModel)]="employee.phoneNumber">            <br> <br> Hire Date : <input type="date" id="hdate" name="hireDate" [(ngModel)]="employee.hireDate"> <br> <br> Job Title : <input type="text" id="jtitle" name="jobTitle" [(ngModel)]="employee.jobTitle"> <br> <br> Salary : <input type="text"
                id="salary" name="salary" [(ngModel)]="employee.salary"> <br> <br> Department Id : <input type="text" id="dptid" name="departmentId" [(ngModel)]="employee.departmentId"> <br> <br> Project Id : <input type="text" id="pjtid" name="projectId"
                [(ngModel)]="employee.projectId"><br> <br>
            <input type="button" Value="Update EMPLOYEE" (click)="updateEmployee()">
        </div>
    </form>
    {{msg}}
</div>