<div class="head">
    <div class="img">
        <img src="https://3.imimg.com/data3/CO/YE/MY-11253303/employee_management_system-500x500.jpg" alt="Image" height="110px" width="200px">
    </div>
    <header class="header">
        <marquee>
            <h1 align="center">Welcome to Employee Management System Application</h1>
        </marquee>

    </header>
</div>

<div class="container">

    <div class="content">
        <h2 align="center" id="about">About Employee Management System</h2>
        <p>Welcome to our Employee Management System (EMS), a powerful and efficient tool designed to streamline your organization's human resource management. Our system simplifies the task of managing employee information, payroll, and other HR-related
            functions, making your daily operations more organized and productive.</p>

        <h3>Key Features</h3>
        <ul>
            <li><strong>Employee Records:</strong> Maintain detailed records of all your employees, including personal information, contact details, work history, and more.</li>
            <li><strong>Department Management:</strong> Organize your workforce into departments, making it easier to allocate tasks and manage teams efficiently.</li>
            <li><strong>Project Management:</strong> Keep track of Project details.</li>
            <li><strong>User Access Control:</strong> Ensure data security and privacy with role-based access control, allowing you to assign specific permissions to different users.</li>
        </ul>

        <h3>Why Choose Our System?</h3>
        <p>Our Employee Management System is designed with the needs of modern businesses in mind. By choosing our system, you can expect the following benefits:</p>
        <ul>
            <li><strong>Efficiency:</strong> Streamline HR processes, save time, and reduce administrative tasks.</li>
            <li><strong>Accuracy:</strong> Minimize errors in employee data, attendance, and payroll management.</li>
            <li><strong>Compliance:</strong> Ensure that your HR practices are in line with local labor laws and regulations.</li>
            <li><strong>Productivity:</strong> Empower your HR team to focus on strategic tasks that drive your organization's growth.</li>
            <li><strong>Scalability:</strong> Our system can grow with your business, accommodating the changing needs of your workforce.</li>
        </ul>

        <p>Discover the benefits of our Employee Management System and take the first step towards efficient HR management. Whether you are a small business or a large enterprise, our system is designed to meet your needs. Contact us to learn more about
            our services and how we can help you enhance your human resource management.</p>
    </div>
    <div class="sidebarleft">
        <h3 id="employees">Employees :</h3>
        <ul>
            <li>
                <a routerLink="getallemployees" routerLinkActive="active" href="#">Get All Employees</a>
            </li>

            <li>
                <a routerLink="insertemployee" routerLinkActive="active" href="#">Insert Employee</a>
            </li>

            <li>
                <a routerLink="updateemployee" routerLinkActive="active" href="#">Update Employee</a>
            </li>
            <!--
            <li>
                <a routerLink="deleteemployee" routerLinkActive="active" href="#">Delete Employee</a>
            </li>
            <li>
                <a routerLink="findemployees" routerLinkActive="active" href="#">Find Employees</a>
            </li>
-->
        </ul>
        <h3 id="departments">Departments :</h3>
        <ul>
            <li>
                <a routerLink="getalldepartments" routerLinkActive="active" href="#">Get All Departments</a>
            </li>

            <li>
                <a routerLink="insertdepartment" routerLinkActive="active" href="#">Insert Department</a>
            </li>

            <li>
                <a routerLink="updatedepartment" routerLinkActive="active" href="#">Update Department</a>
            </li>
            <!--
            <li>
                <a routerLink="deletedepartment" routerLinkActive="active" href="#">Delete Department</a>
            </li>
            <li>
                <a routerLink="findalldepartments" routerLinkActive="active" href="#">Find Departments</a>
            </li>
-->
        </ul>
        <h3 id="projects">Projects :</h3>
        <ul>
            <li>
                <a routerLink="getallprojects" routerLinkActive="active" href="#">Get All Projects</a>
            </li>

            <li>
                <a routerLink="insertproject" routerLinkActive="active" href="#">Insert Project</a>
            </li>

            <li>
                <a routerLink="updateproject" routerLinkActive="active" href="#">Update Project</a>
            </li>
            <!--
            <li>
                <a routerLink="deleteproject" routerLinkActive="active" href="#">Delete Project</a>
            </li>
            <li>
                <a routerLink="findallprojects" routerLinkActive="active" href="#">Find Projects</a>
            </li>
-->
        </ul>
        <router-outlet></router-outlet>
    </div>
</div>
<footer> @developed by Durga Prakash Shilarapu</footer>